name: Build
on: 
  push:
    branches:
    - main
  workflow_dispatch:
  pull_request:
permissions:
  contents: read

jobs:
  Build-and-Test-CDK:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: "20.x"
      - run: npm ci
      - run: npm run build
      - run: npm run test
  Build-and-Test-Application:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.12"
      - run: cd lib/ftp/custom-authorizer
      - run: pip install pytest boto3 moto[secretsmanager]
      - run: pytest
